.container{
  display: flex;
}

.container > *{
  border: 3px solid red;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border: 3px solid black;
  font-size: 30px;
  text-align: center;
}

.left{
  background-color: red;
}
.center{
  background-color: black;
  color: #fff;
}
.right{
  color: black;
}
